{%extends 'common.html'%}

{%block content%}


<h2 class= "text-center mb-5">Chi siamo </h2>

<div class="container mb-3">
   <p>Il faro marinese è un esperimento sociale nonchè un modesto contributo alla costruzione di un'identità collettiva di Marina di Ginosa. Un esperimento perchè è un sito aperto al conotributo di tutti i marinesi che avrebbero così l'opportunità di uno strumento in più per mettersi in rete. Sono graditi tutti i contributi, suggerimenti, idee che diano una scossa alla questione identitaria che non può più prescinidere dal web. Nel faro marinese potrete inserire news, indicazioni sulle risorse naturali, flora, fauna, informazioni storiche e tanto altro. Ma cosa più importante si potrà discutere nelle sezioni dei forum e creare discussioni ex-novo. Insomma lo strumento c'è. Clicca sul link "discussioni pubbliche" sulla barra blu in alto.</p>

</div>

{%endblock content%}
    