{% extends 'common.html' %}
{%block content%}

    <!--CARD GROUP-->
    <div class="container card-group">

        {% load static %}  
        
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/04/05/10/56/writing-7901174_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a href="/news"><button type="button" class="btn btn-outline-primary">Scopri di più</button></a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'mare.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Turismo</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. </p>
                <a href="/turismo"><button type="button" class="btn btn-outline-primary">Scopri di più</button></a>
            </div>
        </div>
        
       
      

        <div class="card">
            <img src="{% static 'torre.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cultura-Natura</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <button type="button" class="btn btn-outline-primary">Scopri di più</button>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'storia.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Storia</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a href="/storia"><button type="button" class="btn btn-outline-primary">Scopri di più</button></a>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'leone.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Spazio Scuola</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <button type="button" class="btn btn-outline-primary" href="">Scopri di più</button>
            </div>
        </div>
 

            


    </div> 

    {%endblock%}

