{%extends 'common.html'%}

{%block content%}


<h1 class="text-center">Food&Beverage</h1>
<!--cards-->

<div class="container mt-5 ">
    <div class="row">
        
        {% for local in pubs %}
        <div class="col">

            <div class="card my-4" style="width: 18rem">
                <img src="{{ local.immagine.url }}" class="card-img-top " style="max-height: 12rem;" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{ local.titolo }}</h2>
                    <p class="card-text text-center" style="font-size: 15pt;">{{ local.descrizione }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ;>CONTATTI:{{ local.item1 }}</li>
                </ul>
                
            </div>
        </div>

            {% endfor %}

        {%endblock%}