{%extends 'common.html'%}

{%block content%}

{% load static %}

<div class="container">
<p class="mb-4" style="text-align: justify">Era la fine della guerra. I primi coloni, per la quasi totalità di Ginosa, tornavano a lavorare le terre assegnate loro. Era passato quasi un trentennio dall'inizio dell'opera e la bonifica volgeva al termine. Durante la guerra alla marina erano rimasti solo i marinai della batteria Toscano e poca gente. La malaria viene debellata definitivamente nel 1950. E Marina è già tornata a popolarsi molto più di prima.</p>


<div class="card-group">
    <div class="card">
      <img src="{% static 'leccesi.jpg' %}" class="card-img-top" style="max-height: 260px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">I leccesi</h5>
        <p class="card-text">Formarono il primo vero nucleo abitativo della Marina. Già presente in loco la famiglia Avantaggiato dal 1942, alle dipendenze di Dell'Osso, proprietario della masseria "Orsanese", dal 1950 contribuirono con la loro tradizionale competenza alla coltivazione del tabacco. In tutto si raccolsero dalla provincia leccese quasi una trentina di famiglie</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">FOTO: Nei campi di tabacco</small>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'pescatori.jpg'%}" class="card-img-top" style="height:260px" alt="...">
      <div class="card-body">
        <h5 class="card-title">I pescatori</h5>
        <p class="card-text">Il mare di Ginosa Marina è sempre stato ricco di pesce azzurro. Alici, sgombri, sardine, ma anche seppie pettinesse e aguglie. I pescatori vennero da lontano: provincia di Cosenza, di Lecce e da Taranto. "Prima del vespro, ben 80 barche lasciavano la costa. Pescatori dunque e contadini. Nel duro lavoro tra il mare e la terra nasceva Ginosa Marina</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">FOTO: Pescatori dell'epoca</small>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'polesani.jpg' %}" class="card-img-top" style='height:260px' alt="...">
      <div class="card-body">
        <h5 class="card-title">I polesani</h5>
        <p class="card-text">Giunti a Marina il 22 settembre 1949, provenienti dalla provincia di Treviso, diedero subito grande impulso vitale alla comunità nascente. Dopo un passato difficile dimostrarono grande spirito di adattamento e reciproco rispetto con la comunità ginosina che li accolse con cordialità ma anche con una certa naturale diffidenza.Le bocce la loro passione sportiva.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"> FOTO: Matrimonio polesano del tempo.</small>
      </div>
    </div>
  </div>

</div>

<div class="container mt-3">
<p class="mb-4" style="text-align: justify">A questi si unirono presto anche sparuti gruppi provenienti dalle parti più disparate come i siciliani o i profughi della Libia. Ginosa Marina si preparava ormai alla fine degli anni '50 a diventare quel promettente mix di culture affacciate sul mare che fu e continua ad essere la vera ricchezza di questo posto. <br> <br> </p> </div>
<p class=" container mb-4" style="text-align: justify; font-style: italic"> Le immagini di questa sezione sono tratte da "A. Cazzetta - Dal feudo degli Alcanices a Marina di Ginosa, 1800-1950"</p> 
  

{%endblock content%}