{%extends 'common.html'%}

{%block content%}
    <!--CARD GROUP-->
    {% load static %}

    

    <div class="card-group container ">
        <div class="card ">
          <img src="{% static 'savoia.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">L'arrivo</h5>
            <p class="card-text">11 novembre 1920. È questa la data simbolica della prima pietra di Ginosa Marina. Il giorno in cui i rappresentanti della O.N.C. (Opera Nazionale per i Combattenti) scesero alla stazione di “Venticinque” con l’incarico di incominciarvi i lavori di bonifica. Responsabile dei lavori l’ing. Caio Savoia che così descrive lo stato del territorio. “Tutto il litorale jonico era in un desolante abbandono: né la ferrovia, costruita sin dal 1880, poteva migliorare le condizioni non essendovi alcuna strada […]. Era un quarantennio che i treni, altrove forieri di civiltà e di progresso, qui passavano come fantasmi senza recare un po’ di vita ai luoghi desolati”.</p>
            <p class="card-text"><small class="text-body-secondary">FOTO: Savoia, il responsabile dell'opera a Ginosa Marina</small></p>
          </div>
        </div>
</div>


    
        <div class="card container my-2 ">
          <img src="{% static 'stornara1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">La malaria</h5>
            <p class="card-text">Ma la desolazione non fu il loro problema principale. Ben presto si accorsero che “dove cresceva il pino marittimo, il mirto, il ginepro ed altre piante resinose e profumate […] la malaria potesse avere focolai di infezione tanto dannosi da rendere il posto inospitale. Ad ogni modo l’opera incominciò: 17800 ettari privi di strade e resi impraticabili da lunghe paludi e vaste zone boschive da risanare. Per comprendere l’imponenza dell’opera basti pensare che da dicembre del 1920 al maggio del ’21 furono trasportati 200 vagoni di materiali per costruire gli alloggi di 400 operai.</p>
            <p class="card-text"><small class="text-body-secondary">FOTO:Scene di lavoro quotidiano</small></p>
          </div>
        </div>
      </div>
      </div>

      <div class="card container my-4 ">
        <img src="{% static 'galaso.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">I primi coloni</h5>
          <p class="card-text">Furono convogliate le acque nel Galaso, il canale più grande, tramite una rete di canali che prosciugò i terreni assegnati poi, a mezzadria, a coloni ex-combattenti della prima guerra mondiale. Il primo fra questi fu Rino Galvan, ex combattente della provincia di Verona, al quale fu assegnato il primo podere in contrada Pantano. Poi via via arrivarono le prime famiglie di coloni assegnatarie dei terreni, tutte ginosine. Tra queste ricordiamo le famiglie Egitto, Di Trani, Costantino ed altre.</p>
          <p class="card-text"><small class="text-body-secondary">FOTO:lavori sul canale del Galaso</small></p>
        </div>
      </div>


{%endblock content%}