{%extends 'common.html'%}

{%block content%}


<h2 class= "text-center mb-5">Bibliografia </h2>

<div class="container">
    <ul>
        <li>"La bonifica di Stornara" - Ed. Opera Nazionale Combattenti - Roma </li>
        <li>A. Cazzetta, "Dal feudo degli Alcanices a Marina di Ginosa 1800-1950"</li>
        <li>I. Bardinelli - A. Cossu, "Marina di Ginosa. Segni nel tempo"</li>
        <li>I. M.C. Bonelli, "Un sacerdote tra la gente"</li>
        <li>N. Tamborrino, "Marina di Ginosa. Decentramento amministrativo e partecipazione democratica" - Nuova Ed. Apulia</li>
        <li>R. Perrone, "Il parco comunale"</li>
        <li>L. Strada, "Assistenza sanitaria in Marina di Ginosa" - Noci"</li>
        <li>L. Strada, "Marina di Ginosa e la sua Pro-Loco" - Noci"</li>
        

    </ul>

</div>

{%endblock content%}
    