{%extends 'common.html'%}

{%block content%}
    <!--CARD GROUP-->
    <div class="container card-group">
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/05/11/11/05/glass-sphere-7986102__340.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anni '50</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-primary">Scopri di più</button>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/04/20/09/54/pecan-nuts-7939326_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anni '60</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-primary">Scopri di più</button>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/04/03/03/20/plant-7895897__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anni '70</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-primary">Scopri di più</button>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/05/13/17/00/door-7990935__340.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anni'80</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-primary">Scopri di più</button>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/05/07/20/36/network-7977087_640.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anni '90</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-primary">Scopri di più</button>
            </div>
        </div>
    </div>


 {%endblock%}