{%extends 'common.html'%}

{%block content%}

{% load static %}

<div class="container">
<h5 class="mb-4" style="text-align: justify">Era la fine della guerra. I primi coloni, per la quasi totalità di Ginosa, tornavano a lavoravano le terre assegnate loro. Era passato quasi un trentennio dall'inizio dell'opera e la bonifica volgeva al termine. Durante la guerra alla marina erano rimasti solo i marinai della batteria Toscano e poca gente. La malaria viene debellata definitivamente nel 1950. E Marina è già tornata a popolarsi molto più di prima.</h5>


<div class="card-group">
    <div class="card">
      <img src="{% static 'tabacchificio.jpeg' %}" class="card-img-top" style="max-height: 260px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">I leccesi</h5>
        <p class="card-text">Formarono il primo vero nucleo abitativo della Marina. Già presente in loco la famiglia Avantaggiato dal 1942, alle dipendenze di Dell'Osso, proprietario della masseria "Orsanese", dal 1950 contribuirono con la loro tradizionale competenza alla coltivazione del tabacco. In tutto si raccolsero dalla provincia leccese quasi una trentina di famiglie</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">FOTO: l'ex-tabacchificio nel centro della Marina, oggi proprietà del Comune di Ginosa</small>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'pescatori.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">I pescatori</h5>
        <p class="card-text">Il mare di Ginosa Marina è sempre stato ricco di pesce azzurro. Alici, sgombri, sardine, ma anche seppie pettinesse e aguglie. I pescatori vennero da lontano: provincia di Cosenza, di Lecce e da Taranto. "Prima del vespro, ben 80 barche lasciavano la costa. Pescatori dunque e contadini. Nel duro lavoro tra il mare e la terra nasceva Ginosa Marina</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">FOTO: pescatori dell'epoca. Fonte: A. Cazzetta, "Dal feudo degli Alcanices a Marina di Ginosa"</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

</div>

  {%endblock content%}